<ion-view title="Edit Company">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button-img">
            <img src="img/header.png" alt="" class="full-img">
        </button>
    </ion-nav-buttons><ion-content class="has-header">
           
<hr class="blue">
<ion-item class="transparent">
<div class="col content">
    <h4>Company Name</h4>
    <input type="text" ng-model="company.name">
</div>
<hr class="blue">
<div class="col content">
    <h4>Email</h4>
    <input type="text" ng-model="company.email">
</div>
<hr class="blue">
<div class="col content">
    <h4>Contact</h4>
    <input type="text" ng-model="company.contact">
</div>
<hr class="blue">
<div class="col content">
    <h4>Logo</h4>
    <input type="file" ng-model="company.email">
</div>
<hr class="blue">
<div class="col content">
    <h4>Address</h4>
    <textarea ng-model="company.address"></textarea>
</div>
<hr class="blue">
<div class="col content">
    <h4>City</h4>
    <input type="text" ng-model="company.city">
</div>
<hr class="blue">
<div class="col content">
    <h4>State</h4>
    <input type="text" ng-model="company.state">
</div>
<hr class="blue">
<div class="col content">
    <h4>Country</h4>
    <input type="text" ng-model="company.country">
</div>
<hr class="blue">

<div class="col content">
    <h4>Pin Code</h4>
    <input type="text" ng-model="company.pincode">
</div>
<hr class="blue">

<div class="col content">
    <h4>Landmark</h4>
    <input type="text" ng-model="company.landmark">
</div>
<hr class="blue">

<div class="col content">
    <h4>Vat</h4>
    <input type="text" ng-model="company.vat">
</div>
<hr class="blue">

<div class="col content">
    <h4>Tin</h4>
    <input type="text" ng-model="company.tin">
</div>
<hr class="blue">

<div class="col content">
    <h4>Pan</h4>
    <input type="text" ng-model="company.pan">
</div>


<div class="btn-final">
    <button class="button button-tw button-bird" ng-click=editCompany();>
        Edit
    </button>
</div>

    
</ion-item>
</ion-content>
</ion-view>