<ion-view title="Create Quotation">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button-img">
            <img src="img/header.png" alt="" class="full-img">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list quote-list grey-bg">
            <ion-item class="item-avatar button-right">
                <img src="img/Twitter-square-logo1.png">
                <button class="button button-small button-dark" ng-click="showCompanyAddPopup();">
                    <span>Add</span>
                </button>
                <button class="button button-small button-light">
                    <span>View</span>
                </button>
                <div class="content">
                    <h4>My Company</h4>
                    <select name="" ng-model="elementData.company" id="">
                        <option value="{{company.id}}" ng-repeat="company in companies" ng-bind="company.name"></option>
                    </select>


                </div>
            </ion-item>
            <hr class="blue">
            <ion-item class="transparent">
                <div class="row">
                    <div class="col content">
                        <h4>Date</h4>
                        <input type="date" ng-model="elementData.date">
                    </div>
                    <div class="col content">
                        <h4>Final Amt.</h4>
                        <span ng-bind="(1+(elementData.taxRate/100))*elementData.totalAmount|currency:'₹ '"></span>
                    </div>
                </div>
            </ion-item>

            <ion-item class="item-avatar button-right">
                <img src="img/Twitter-square-logo1.png">
                <button class="button button-small button-dark" ng-click="showVendorAddPopup();">
                    <span>Add</span>
                </button>
                <button class="button button-small button-light">
                    <span>View</span>
                </button>
                <div class="content">
                    <h4>Vendor</h4>
                    <select name="" ng-model="elementData.vendor" id="">
                        <option value="{{vendor.id}}" ng-repeat="vendor in vendors" ng-bind="vendor.name"></option>
                    </select>


                </div>
            </ion-item>
            <hr class="blue">

        </div>



        <div class="list blue-bg">

            <div class="item" ng-repeat="element in elementData.elements">
                <span class="num">{{$index+1}}.</span>
                <div class="in-item button-right">
                    <button class="button button-small button-dark" ng-click="changedescstatus(element);">
                        <span ng-show="!element.showdescription">Show Description</span>
                        <span ng-show="element.showdescription">Hide Description</span>
                    </button>
                    <div class="col content">
                        <h4>Title</h4>
                        <input type="text" ng-model="element.title">

                    </div>
                </div>
                <div class="in-item" ng-show="element.showdescription">
                    <div class="col content description">
                        <h4>Description</h4>
                        <textarea ng-model="element.description"></textarea>
                    </div>
                </div>

                <div class="in-item button-right">
                    <button class="button button-small button-delete" ng-click="removeElements(element);">
                        <span>Delete</span>
                    </button>
                    <div class="col content">
                        <div class="in-col">
                            <h4>Qty.</h4>
                            <input type="text" ng-model="element.quantity">
                        </div>
                        <div class="in-col">
                            <h4>Price</h4>
                            <input type="text" ng-model="element.price">
                        </div>
                        <div class="in-col">
                            <h4>Amount</h4>
                            <span ng-bind="element.price*element.quantity|currency:'₹ '"></span>
                        </div>

                    </div>
                </div>

            </div>

            <ion-item class="button-right simple">
                <button class="button button-full button-dark" ng-click="addelements();">
                    <span>Add More</span>
                </button>
            </ion-item>

        </div>
        <hr class="blue">
        <div class="list quote-list grey-bg">
            <ion-item>
                <div class="row">
                    <div class="col content">
                        <h4>Total Qty.</h4>
                        <span ng-bind="elementData.totalQuantity"></span>
                    </div>
                    <div class="col content">
                        <h4>Total Amt.</h4>
                        <span ng-bind="elementData.totalAmount|currency:'₹ '"></span>
                    </div>
                    <div class="col content">
                        <h4>Tax Rate</h4>
                        <input type="text" ng-model="elementData.taxRate">
                    </div>
                    <div class="col content">
                       <h4>Tax Amt.</h4>
                        <span ng-bind="(elementData.taxRate/100)*elementData.totalAmount|currency:'₹ '"></span>

                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col content">
                        <h4>Payment Terms</h4>
                        <input type="text" ng-model="elementData.paymentTerms">
                    </div>
                    <div class="col content">
                        <h4>Final Amt.</h4>
                        <span ng-bind="(1+(elementData.taxRate/100))*elementData.totalAmount|currency:'₹ '"></span>
                    </div>
                </div>
            </ion-item>
        </div>

        <div class="btn-final">
            <button class="button button-tw button-bird" ng-click="showPreview();">
                Preview
            </button>
        </div>

    </ion-content>
</ion-view>
