<div class="modal">
    <ion-content>
       
       <div class="logo">
           <img src="img/full-logo.png" alt="">
       </div>
       
        <form ng-submit="doLogin();" class="login-btn">
            <div class="padding">
                <button class="button button-fb button-bird">
                    Login with Facebook
                </button>
            </div>
            <div class="padding">
                <button class="button button-tw button-bird">
                    Login with Twitter
                </button>
            </div>
            <div class="padding">

                <button class="button button-google button-bird" ng-click=googleLogin()>
                    Login with Google
                </button>
            </div>
        </form>
    </ion-content>
</div>