<ion-view title="Create Quote">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button-img">
            <img src="img/header.png" alt="" class="full-img">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list quote-list">

            <div class="item item-avatar button-right">
                <img src="img/logo.png">
                <button class="button button-small button-delete">
                    <span>Delete</span>
                </button>
                <button class="button button-small button-light">
                    <span>View</span>
                </button>
                <div class="content">
                    <h2>Wohlig Technologies LLP.</h2>
                    <h4>info@wohlig.com</h4>
                </div>


            </div>
    </ion-content>
</ion-view>
