<ion-view title="Quotations">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button-img">
            <img src="img/header.png" alt="" class="full-img">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list class="quote-list">

            <ion-item class="item-avatar button-right" ng-repeat="quotation in quotations">
                <img src="img/Twitter-square-logo1.png">

                <button class="button button-small button-light">
                    <span>View</span>
                </button>
                <div class="content">
                    <h2>{{quotation.companyname}}</h2>
                    <h4>{{quotation.timestamp}}</h4>
                </div>
            </ion-item>

        </ion-list>

        <ion-infinite-scroll  ng-if="moreDataCanBeLoaded()" on-infinite="loadMore();" distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
