<ion-view title="Create">
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
<div class="list">
    <div class="item item-thumnail-left row">
        <div class=" col col-20">
            <img src="cover.jpg">
        </div>
        <div class="col col-30">
            <h2>Company Name</h2>
        </div>
        <button class="button button-small button-positive cust_buttons">
            Edit
        </button>
        <button class="button button-small button-assertive">
            Delete
        </button>
    </div>
</div>


  </ion-content>
</ion-view>
